.hide {
    display: none;
}

#particles-js {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #4E54C8 0%, #8F94FB 100%);
}

.test {
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.test__container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.test__body {
    position: relative;
}

.test__heading {
    cursor: default;
}

.test__title {
    margin-bottom: 40px;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight: 800;
    font-size: 75px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.subtitle {
    font-family: "Exo", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
}

.content__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px auto;
    padding: 20px 40px;
    background: #ffffff;
    border: 2px solid #191f82;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.content__result:hover {
    box-shadow: 0 30px 28px rgba(0, 0, 0, 0.25), 0 20px 10px rgba(0, 0, 0, 0.22);
}

.result-content {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #191f82;
}

.content__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__textarea textarea {
    width: 560px;
    height: 180px;
    border: 2px solid #191f82;
    box-sizing: border-box;
    border-radius: 20px;
    resize: none;
    padding: 30px 26px 30px 26px;
}

.content__textarea textarea {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #b1afaf;
}

.content__textarea textarea:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #b1afaf;
}

.content__textarea textarea::-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #b1afaf;
}

.content__textarea textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #b1afaf;
}

.content__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content__manage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.content__button {
    font-family: "Exo 2", sans-serif;
    padding: 16px 37px;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    background: #191f82;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s;
}

.content__button:hover {
    background-color: #7b81e3;
}

.content__button:active {
    background-color: #515596;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background: #ffffff;
    border: 2px solid #191f82;
    box-sizing: border-box;
    border-radius: 10px;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__logo:hover span svg {
    fill: #7b81e3;
}

.footer__logo:active span svg {
    fill: #515596;
}

.footer__logo span:nth-child(1) {
    margin-right: 10px;
}

.footer__logo span svg {
    transition: all 0.3s;
    fill: #191f82;
}

.footer__text {
    cursor: default;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #5c5c5c;
}

.footer__social {
    margin-right: 20px;
}

.footer__social svg {
    transition: all 0.3s;
    fill: #191f82;
}

.footer__social:hover svg {
    fill: #7b81e3;
}

.footer__social:active svg {
    fill: #515596;
}

@media (min-width: 1199px) {
    .test__body {
        padding: 60px 0 20px 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 1199px) {
    .test__body {
        padding: 60px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .content__row {
        padding: 80px 0 60px 0;
    }
}

@media (max-width: 1199px) {
    .content__row {
        flex-direction: column-reverse;
        text-align: center;
    }
    .content__column {
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 70px;
    }
    .subtitle {
        font-size: 35px;
    }
    .test__title {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 55px;
    }
    .test__body {
        padding: 50px 0;
    }
    .content__row {
        padding: 50px 0;
    }
    .subtitle {
        font-size: 25px;
    }
    .test__title {
        margin-bottom: 25px;
    }
    .content__column:nth-child(2) svg {
        width: 400px;
        height: auto;
    }
    .content__textarea textarea {
        width: 400px;
        height: 260px;
    }
    .content__select {
        display: none;
    }
    .footer__row {
        flex-direction: column;
        padding: 45px 0;
        background: rgba(255, 255, 255, 0.8);
    }
    .footer__column {
        margin-bottom: 20px;
    }
    .footer__column:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .test__title {
        margin-bottom: 25px;
    }
    .content__column:nth-child(2) svg {
        width: 335px;
        height: auto;
    }
    .content__textarea textarea {
        width: 335px;
        height: 240px;
    }
}

@media (max-width: 345px) {
    .content__column:nth-child(2) svg {
        width: 240px;
        height: auto;
    }
    .content__textarea textarea {
        width: 240px;
        height: 160px;
    }
}
